/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto Mono', monospace;*/

:root {
  --branding-color: #de048c;
  --heading-font: "Poppins", sans-serif;
  --secondary-font: "Roboto Mono", monospace;
  --background-color: #2a2a2a;
}

body {
  background-color: var(--background-color);
}

h1,
h2,
p,
h3,
h4,
h5,
h6 {
  color: white;
}

h1 {
  font-family: var(--heading-font);
  font-size: 96px;
}

h2,
p {
  font-family: var(--secondary-font);
}

h3 {
  font-family: var(--heading-font);
  font-size: 50px;
  margin-bottom: 20px;
}

h4 {
  display: inline;
  font-family: var(--heading-font);
}

h5 {
  font-family: var(--heading-font);
  font-size: 20px;
  line-height: 2;
}

i {
  font-size: 30px;
  margin-right: 20px;
  text-align: left;
}

h6 {
  font-family: var(--heading-font);
  text-align: left;
  margin-top: 50px;
  padding: 15px;
  border-left: solid 2px #bb77ff;
  font-size: 20px;
}


.hero {
  text-align: center;
  padding: 160px 20px 100px 20px;
}

.hero h2 {
  font-size: 30px;
  line-height: 2;
}

.surname {
  color: var(--branding-color);
}

.btn-branding {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--branding-color);
  color: white;
  border-radius: 4px;
  font-size: 20px;
  font-family: var(--secondary-font);
  margin-top: 50px;
  max-width: fit-content;
}

.btn-branding:hover {
  background-color: white !important;
  color: var(--branding-color) !important;
}

.content {
  text-align: center;
  padding: 0 20px 100px 20px;
}

.ruler {
  color: white;
  margin-bottom: 100px;
}

#about-main {
  text-align: left;
}

.product-dev {
  margin-top: 20px;
  padding-left: 20px;
}

.fa-code {
  color: var(--branding-color);
}

.fa-pen-nib {
  color: #2c48d7;
}

.fa-list-check {
  color: #fe6a2b;
}

#about {
  margin-bottom: 100px;
}

.h3 {
  font-size: 20px;
  opacity: 0.3;
}

.card {
  background-color: var(--background-color);
  text-align: left;
  box-shadow: 12px 12px 2px 1px white;
  margin-top: 50px;
}

.show-project-link, .email {
  text-decoration: none;
  color: white;
}

.email:hover, .show-project-link:hover {
  color: var(--branding-color);
}

.all-projects {
  margin-bottom: 100px;
}

.about-subtitle {
    margin-left: 50px;
    margin-right: 50px;
}

.email-address {
    margin-bottom: 0;
}

.phone {
    margin-top: 10px;
    margin-bottom: 0;
}

.project-sample {
    margin-bottom: 50px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 60px;
  }
  .hero h2 {
    font-size: 20px;
    margin: 20px 50px;
  }

  h3 {
    font-size: 40px;
  }

  p {
    margin-left: 20px;
    margin-right: 20px;
  }

  .about-subtitle {
    margin: 0 20px;
  }

  .header-content {
    text-align: center;
    padding: 0;
  }

  .csillatoth-image {
    margin-top: 50px;
  }
}

/*about page*/
.header-content {
    padding: 160px 100px 100px 100px;
}


.csillatoth-image {
  max-width: 100%;
  max-height: 600px;
}

.header-content h1 {
  font-size: 64px;
  line-height: 80px;
  margin-top: 70px;
}

.header-content h2 {
  font-size: 25px;
  font-family: var(--heading-font);
  margin-top: 10px;
  font-weight: 700;
}

.header-content p {
  font-size: 15px;
  margin-top: 20px;
  line-height: 1.5;
  opacity: 80%;
}

.about-header a {
  margin-bottom: 40px;
}

.about-content {
  text-align: center;
}

ul {
  color: white;
  font-family: var(--secondary-font);
  list-style: none;
  padding: 0;
  margin-bottom: 100px;
}

.icons {
  max-width: 100%;
  max-height: 50px;
}

.get-in-touch {
    text-align: center;
    margin-bottom: 50px;
}
